{% extends 'base.html' %}

{% block head %}
<title>Taskmaster</title>
{% endblock %}



{% block body %}
<div class="content">
    <h1 >Task Master</h1>
    {% if tasks|length < 1 %}
    <h4>Create below</h4>
    {% else %}
    <table>
        <tr>
            <th class="header">Task</th>
            <th class="header">Added</th>
            <th class="header">Action</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{task.content}}</td>
            <td>{{task.date_created.date()}}</td>
            <td>
                <a href="/delete/{{task.id}}">Delete</a>
                <br>
                <a href="/update/{{task.id}}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" Value="Add Task">
    </form>

</div>
{% endblock %}


